<launch>
  <arg name="debug" default="false" />
  <env if="$(arg debug)" name="ROSCONSOLE_CONFIG_FILE"
       value="$(find chair_manipulation_grasp_detection_advanced)/cfg/rosconsole.conf" />
  <node name="create_grasp_database" pkg="chair_manipulation_grasp_detection_advanced" type="create_grasp_database_node" output="screen">
    <rosparam file="$(find chair_manipulation_grasp_detection_advanced)/cfg/pipeline.yaml" subst_value="true" />
    <param name="gripper_urdf" command="cat $(find chair_manipulation_grasp_detection_advanced)/cfg/gripper/robotiq_2f_140.urdf" />
    <param name="gripper_srdf" command="cat $(find chair_manipulation_grasp_detection_advanced)/cfg/gripper/robotiq_2f_140.srdf" />
  </node>
</launch>