<launch>
  <node name="grasp_detection" pkg="chair_grasp_detection" type="detection_node" output="screen">
    <param name="template_model" value="$(find chair_manipulation_gazebo)/models/dining_chair/meshes/dining_chair.pcd" />
    <rosparam>
      cloud_topic: "kinect/depth/points"
      world_frame: "world"
      camera_frame: "camera_depth_optical_frame"
      voxel_leaf_size: 0.01 <!-- mm -->
      plane_max_iterations: 100
      plane_distance_threshold: 0.03
      cluster_tolerance: 0.1
      cluster_min_size: 250
      normal_radius: 0.05
      feature_radius: 0.05
      nr_samples: 100
      min_sample_distance: 0.05
      max_correspondence_distance: 0.0001
      nr_iterations: 100
    </rosparam>
  </node>
</launch>