<?xml version="1.0" ?>
<launch>
  <group ns="robot1">
    <include file="$(find ur10_robotiq_2f_140_moveit_config)/launch/ur10_robotiq_2f_140_moveit_planning_execution.launch" />
  </group>
  <group ns="robot2">
    <include file="$(find ur10_robotiq_2f_140_moveit_config)/launch/ur10_robotiq_2f_140_moveit_planning_execution.launch" />
  </group>
</launch>