<?xml version="1.0" ?>
<launch>
  <arg name="camera_name" default="camera" doc="The name of the spawned model in gazebo. Must be unique across the world." />
  <arg name="tf_prefix" default="" doc="The tf prefix used by the robot_state_publisher." />
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.0" />
  <arg name="roll" default="0.0" />
  <arg name="pitch" default="0.0" />
  <arg name="yaw" default="0.0" />

  <!-- send camera urdf to param server -->
  <param name="camera_description" command="$(find xacro)/xacro --inorder '$(find chair_manipulation_gazebo)/urdf/kinect/kinect_model.urdf.xacro' 
    x:=$(arg x) y:=$(arg y) z:=$(arg z) roll:=$(arg roll) pitch:=$(arg pitch) yaw:=$(arg yaw)" />

  <!-- spawn camera -->
  <node name="$(arg camera_name)_spawn_camera" pkg="gazebo_ros" type="spawn_model" 
    args="-urdf -param camera_description -model $(arg camera_name)" 
    respawn="false" output="screen" />
  
  <!-- robot state publisher for tf -->
  <node name="$(arg camera_name)_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="robot_description" to="camera_description" />
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />
  </node>

</launch>